<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>

    <!-- Site Header Content //-->
    <style type="text/css">
        @import "/assets/css/main.css";
    </style>
    <style type="text/css">
        @import "/assets/css/typography.css";
    </style>


    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>The Objectivism Seminar :: Full Archives</title>
    <meta name="description" content="The Objectivism Seminar :: Full Archives" />
    <meta name="keywords" content="The Objectivism Seminar :: Full Archives" />

    <link rel="shortcut icon" href="/assets/images/atlas-favicon.jpg" type="image/x-icon" />
    <link rel="icon" href="/assets/images/atlas-favicon.jpg" type="image/x-icon" />
    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<body>


    <div id="page">
        <div id="wrap">
            <div id="top">
                <h2><a href="/" title="Back to main page">The Objectivism Seminar</a></h2>
                <div id="menu">
                    <ul class="nav-header">
                        <li class=" first"><a href="/">Home</a></li>
                        <li class=" "><a href="/communication/">Communication</a></li>
                        <li class="nav-selected "><a href="/archives/">Archives</a></li>
                        <li class=" "><a href="/faq/">FAQ</a></li>
                        <li class=" "><a href="/people/">People</a></li>
                        <li class=" "><a href="/about/">About</a></li>
                    </ul>
                    <div class="ccm-spacer">&nbsp;</div>
                </div>
            </div>
            <div id="content">

                <div id="left">
                    <h1>All Previous TalkShoe Sessions</h1>
                    <p>&nbsp;</p>
                    <input v-model="filter" placeholder="type to filter"> (showing {{filteredSessions.length}})
                    <p>&nbsp;</p>
                    <div id="rssSummaryList110" class="rssSummaryList" v-for="session in filteredSessions" :key="session.link">

                        <div class="rssItem">
                            <div class="rssItemTitle">
                              <a :href="session.link" target="_blank">{{session.title}}</a>
                            </div>
                            <div class="rssItemDate">{{session.pubDate | formatDate}}</div>
                            <div class="rssItemSummary">{{session.description}}</div>
                        </div>


                    </div>
                </div>

                <div id="right">
                    <div class="box">
                        <div class="boxInner">
                            <img border="0" class="ccm-image-block" alt="" src="/assets/images/83923aadb1fafd7c1139e935ab689d57.jpg" width="230" height="230" />
                        </div>
                    </div>

                    <div class="box">
                        <div class="boxInner">
                            <ul class="nav">
                                <li class="nav-path-selected"><a class="nav-path-selected" href="/">Home</a></li>
                                <li><a href="/communication/">Communication</a></li>
                                <li class="nav-path-selected"><a class="nav-path-selected" href="/archives/">Archives</a></li>
                                <li><a href="/faq/">FAQ</a></li>
                                <li><a href="/people/">People</a></li>
                                <li><a href="/about/">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div id="clear"></div>
            </div>
            <div id="footer">

                <div id="footerLinks">
                    &copy; 2016 <a href="/">The Objectivism Seminar</a>. &nbsp;&nbsp; All rights reserved.
                </div>

            </div>
        </div>
    </div>
</body>
<script>

Vue.filter('formatDate', function (date) {
  if (date) {
    var day = ('0' + date.getDate()).slice(-2).slice(-2)
    var month = ('0' + (date.getMonth() + 1)).slice(-2)
    var year = ('000' + date.getFullYear()).slice(-4)
    return month + '/' + day + '/' + year
  }
})

var app = new Vue({
  el: '#left',
  data: {
    sessions: [],
    filter: ''
  },
  computed: {
    filteredSessions: function () {
      let lcFilter = this.filter.toLowerCase()
      return this.sessions.filter(function (session) {
        return (session.title + session.description).toLowerCase().indexOf(lcFilter) >= 0
      })
    }
  }
})

$.get('http://crossorigin.me/http://recordings.talkshoe.com/rss15215.xml', function (data) {
  $(data).find('item').each(function () {
    var $el = $(this)
    app.sessions.push({
      title: $el.find('title').text(),
      link: $el.find('link').text(),
      pubDate: new Date($el.find('pubDate').text()),
      description: $el.find('description').text()
    })
  })
})
</script>
</html>
