<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"https://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
    <!-- Site Header Content //-->
    <style type="text/css">
        @import "/assets/css/main.css";
    </style>
    <style type="text/css">
        @import "/assets/css/typography.css";
    </style>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
    <meta name="keywords" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />

    <link rel="shortcut icon" href="/assets/images/atlas-favicon.jpg" type="image/x-icon" />
    <link rel="icon" href="/assets/images/atlas-favicon.jpg" type="image/x-icon" />

    <style type="text/css">
        #blockStyle479Main31 {
            background-color: #ffffff;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div id="page">
        <div id="wrap">
            <div id="top">
                <h2><a href="/" title="Back to main page">The Objectivism Seminar</a></h2>
                <div id="menu">
                    <ul class="nav-header">
                        <li><a class="{% if page.tab == 'home' %}nav-selected{% else %}{% endif %}" href="/">Home</a></li>
                        <li><a class="{% if page.tab == 'communication' %}nav-selected first{% else %}{% endif %}" href="/communication/">Communication</a></li>
                        <li><a class="{% if page.tab == 'history' %}nav-selected{% else %}{% endif %}" href="/history/">History</a></li>
                        <li><a class="{% if page.tab == 'archives' %}nav-selected{% else %}{% endif %}" href="/archives/">Archives</a></li>
                        <li><a class="{% if page.tab == 'faq' %}nav-selected first{% else %}{% endif %}" href="/faq/">FAQ</a></li>
                        <li><a class="{% if page.tab == 'about' %}nav-selected first{% else %}{% endif %}" href="/about/">About</a></li>
                    </ul>
                    <div class="ccm-spacer">&nbsp;</div>
                </div>
            </div>
            <div id="content">

                <div id="left">
                    {{ content }}
                </div>

                <div id="right">
                    <div class="box">
                        <div class="boxInner">
                            <img border="0" class="ccm-image-block" alt="" src="/assets/images/atlas-square.jpg" width="230" height="230" />
                            <ul class="nav">
                                <li class="nav-selected nav-path-selected"><a class="nav-selected nav-path-selected" href="/">Home</a></li>
                                <li><a href="/communication/">Communication</a></li>
                                <li><a href="/history/">History</a></li>
                                <li><a href="/archives/">Archives</a></li>
                                <li><a href="/faq/">FAQ</a></li>
                                <li><a href="/about/">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="clear"></div>
            </div>
            <div id="footer">
                <div id="footerLinks">
                    &copy; 2016 <a href="/">The Objectivism Seminar</a>. &nbsp;&nbsp; All rights reserved.
                </div>
            </div>
        </div>
    </div>
</body>

</html>
